#font{
  font-family: 'Work Sans', sans-serif;
}

.sfondo{
  margin: 0px;
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/24/51/OwQlrL.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  backgroun: cover;
  height: 100%;
}

#bandiere{
  margin-left: 50px;
  display: inline-block;
  z-index: 50;
}

.bandiere {
  width: 80px;
  height: 50px;
  margin-left: 10px;
  margin-top: 25px;
}

#headline{
  box-shadow: 0px 20px 50px black;
  opacity: 0, ;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100px;
  margin: 0px;
  border-bottom: 3px solid red;
  z-index: 40;
}

#logoACME{
  height: 90px;
  text-align: center;
}

.riquadro{
  background-color: black;
  color: white; 
  padding: 20px;
  border-radius: 15px;
  margin: 60px;
  text-align: center;
  opacity: 80%;
}

h1{
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 15;
  text-align: center;  
}

#map {
  height: 220px; 
  width: 40%;
  max-width: auto;
}

.fot{
  display: inline-block;
  margin: auto;
  color: white;
  text-align: center;
}

.boxnero{
  background-color: black;
  border-top: 2px solid red;
}

#bottone {
  position: fixed;
  bottom: 40px;
  left: 10px;
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 60;
}

#cookie{
  color: white;
  font-size: 10px;
  background-color: black;
  width: 200px;
  margin-left: 50px;
  padding: 20px;
  display: none;
}

#chiude{
  font-size: 15px;
  margin-left: 160px;
  padding: 0px;
  cursor: pointer;
}

.top {
  color: white;
  background-color: black;
  padding: 0px 3px 0px 3px ;
  border-radius: 100px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 60;
  
}

#freccia.up{
  text-shadow: 0px 0px 10px black;
}

.pittura{
  border: 2px solid red;
  border-radius: 15px;
}

.grafica{
  border: 2px solid blue;
  border-radius: 15px;
}

.scenografia{
  border: 2px solid orange;
  border-radius: 15px;
}

.impresa{
  border: 2px solid yellow;
  border-radius: 15px;
}

.tecnologie{
  border: 2px solid magenta;
  border-radius: 15px;
}

.comunicazione{
  border: 2px solid #A76CFB;
  border-radius: 15px; 
}

footer{
  font-size: 11px;
}
