#font{
  font-family: 'Work Sans', sans-serif;
}

.sfondo{
   margin: 0px;
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/24/51/OwQlrL.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

#bandiere{
  margin-left: 50px;
  display: inline-block;
}

.bandiere {
  width: 80px;
  height: 50px;
  margin-left: 10px;
  margin-top: 25px;
}

#headline{
  box-shadow: 0px 20px 50px black;
  opacity: 0, ;
  position: fixed-top;
  background-color: black;
  width: 100%;
  height: 100px;
  margin: 0px;
  border-bottom: 3px solid red
}

#logoACME{
  height:90px;
  text-align: center;
  border: 4px solid yellow;
}

.riquadro{
  border: 0px solid; 
  background-color:black;
  color:white; 
  padding: 20px;
  border-radius: 15px;
  margin: 60px;
  text-align:center;
  opacity: 80%;
}

h1{
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 15;
  text-align: center;  
}

#map {
  height: 200px; 
  width: auto;
  max-width: auto;
}

.fot{
  display: inline-block;
  margin: 5px 20px 5px 120px;
  color:white;
  text-align:center;
}

.boxnero{
  background-color: black;
  border-top: 2px solid red;
}

#bottone {
  position: fixed;
  bottom: 40px;
  left: 10px;
  width: 100px;
  border-radius: 30px;
}
#cookie{
  color: white;
  font-size:10px;
  background-color: black;
  width: 200px;
  margin-left: 50px;
  padding: 20px;
  display:none;
}
#chiude{
  font-size: 15px;
  margin-left: 160px;
  padding: 0px;
}

.top {
  color: white;
  background-color: black;
  padding: 0px 3px 0px 3px ;
  border-radius: 100px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  text-align: center;
  
}

#freccia.up{
  text-shadow: 0px 0px 10px black;
}

.pittura{
border: 2px solid red; border-radius: 15px;
}

.grafica{
border: 2px solid blue; border-radius: 15px;
}

.scenografia{
border: 2px solid orange; border-radius: 15px;
}

.impresa{
border: 2px solid yellow; border-radius: 15px;
}

.tecnologie{
border: 2px solid magenta; border-radius: 15px;
}

.comunicazione{
border: 2px solid #A76CFB; border-radius: 15px; 
}

footer{
  font-size: 11px;
}
